body{
  background-image: url(images/bgr.jpg);
  overflow: hidden;

}
.trains{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;

}
.zindex{
  position: relative;
  
}
.zindex1{
  position: relative;
}

.imagesTrain{
 width: 159px;
 height: 159px;
}

.HeadBox {
  width:  100%;
  display: flex;
  justify-content:  center;
}


.train1{
  display: flex;
  position: absolute;
  top: 130px;
  left: 20px;
  width: 150px;
  height: 150px;
  
}
.train2{
  position: absolute;
  top: 280px;
  left: 20px;
  width: 150px;
  height: 150px;
  
}










.train6{
  position: absolute;
  top: 130px;
  left: 0px;
  width: 150px;
  height: 150px;
}
.train7{
  position: absolute;
  top: 280px;
  left: 0px;
  width: 150px;
  height: 150px;
}
.train8{
  position: absolute;
  top: 430px;
  left: 0px;
  width: 150px;
  height: 150px;
  width: 150px;
  height: 150px;
}
.train9{
  position: absolute;
  top: 580px;
  left: 0px;
  width: 150px;
  height: 150px;
}
.train10{
  position: absolute;
  top: 420px;
  left: 0px;
  width: 150px;
  height: 90px;
}
.train11{
  position: absolute;
  top: 510px;
  left: 0px;
  width: 150px;
  height: 90px;
}


.Ima{
  width: 150px;
  height: 150px;
}

.boxImages{
  width: 50%;
  height: 120px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}



