body{
  background-image: url(images/bgr.jpg);
  overflow: hidden;
}
.trains{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.zindex{
  position: relative;
  
}
.zindex1{
  position: relative;
}
.zindex2{
  position: relative;
}
.zindex3{
  position: relative;
}
.zindex4{
  position: relative;
}
.zindex5{
  position: relative;
}

.imgZind{
  width: 170px;
  height: 129px;
  margin-left: 30%;
}

.imagesTrain{
  width: 300px;
  height: 50px;
}


.train1{
 
  position: absolute;
  top: 124px;
  left: 0px;
  width: 97px;
  height: 47px;
}
.train2{
  position: absolute;
  top: 124px;
  left: 100px;
  width: 97px;
  height: 47px;
 
}
.train3{
  
  position: absolute;
  top: 124px;
  left: 0px;
  width: 97px;
  height: 47px;
}
.train4{
  
  position: absolute;
  top: 124px;
  left: 199px;
  width: 97px;
  height: 47px;
}



.train5{
  
  position: absolute;
  top: 124px;
  left: 0px;
  width: 97px;
  height: 47px;
}
.train6{
  position: absolute;
  top: 124px;
  left: 0px;
  width: 97px;
  height: 47px;
}
.train7{
  position: absolute;
  top: 124px;
  left: 100px;
  width: 97px;
  height: 47px;
}
.train8{
  position: absolute;
  top: 124px;
  left: 200px;
  width: 97px;
  height: 47px;
}
.train9{
  position: absolute;
  top: 124px;
  left: 0px;
  width: 97px;
  height: 47px;
}
.train10{
  position: absolute;
  top: 124px;
  left: 200px;
  width: 97px;
  height: 47px;
}
.train11{
  position: absolute;
  top: 124px;
  left: 100px;
  width: 97px;
  height: 47px;
}
.train12{
  position: absolute;
  top: 124px;
  left: 200px;
  width: 97px;
  height: 47px;
}
.train13{
  position: absolute;
  top: 124px;
  left: 0px;
  width: 97px;
  height: 47px;
}
.train14{
  position: absolute;
  top: 124px;
  left: 100px;
  width: 97px;
  height: 47px;
}
.train15{
  position: absolute;
  top: 124px;
  left: 100px;
  width: 97px;
  height: 47px;
}
.train16{
  position: absolute;
  top: 124px;
  left: 200px;
  width: 97px;
  height: 47px;
}
.train17{
  position: absolute;
  top: 124px;
  left: 100px;
  width: 97px;
  height: 47px;
}
.train18{
  position: absolute;
  top: 124px;
  left: 200px;
  width: 97px;
  height: 47px;
}


.Ima{
  width: 120px;
  height: 59px;
}

.boxImages{
  width: 100%;
  height: 120px;
  margin-bottom: 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}